
    <select name="emotion" class="first mt-1 mr-3" id="first<%= qstnNo %>">
      <option value="">Select</option>
    </select>
    <select name="attribute" class="second mt-1" id="second<%= qstnNo %>">
      <option value="" selected>Select</option></select
    ><br /><br />
    <h2 class="os sub-title mb-3" id="os<%= qstnNo %>">Optimal Statement</h2>
    <div id="optimal-select<%= qstnNo %>" class="select">
    <select name="optimal" class="third" id="third<%= qstnNo %>">
      <option value="" selected>Select</option></select>
    </div>
    <h3 class="textfield sub-title mb-3">Why?</h3>
  <textarea name="reason" cols="100" rows="10"></textarea><br />