<div>
  <div id="my_dataviz"></div>
  <div class="chartCard">
    <div class="chartBox">
      <canvas id="mOptimalChart"></canvas>
    </div>
  </div>
  <script>
    const _colorConfig = {
      fearful: { backgroundColor: "rgba(55, 86, 35, 0.2)", borderColor: "rgba(55, 86, 35, 1)" },
      sad: { backgroundColor: "rgba(128, 96, 0, 0.2)", borderColor: "rgba(128, 96, 0, 1)" },
      angry: {
        backgroundColor: "rgba(255, 0, 0, 0.2)",
        borderColor: "rgba(255, 0, 0, 1)",
      },
      disgusted: {
        backgroundColor: "rgba(112, 48, 160, 0.2)",
        borderColor: "rgba(112, 48, 160, 1)",
      },
      confused: {
        backgroundColor: "rgba(153, 153, 255, 0.2)",
        borderColor: "rgba(153, 153, 255, 1)",
      },
      passionate: {
        backgroundColor: "rgba(255, 51, 153, 0.2)",
        borderColor: "rgba(255, 51, 153, 1)",
      },
      proud: {
        backgroundColor: "rgba(255, 153, 153, 0.2)",
        borderColor: "rgba(255, 153, 153, 1)",
      },
      hopeful: {
        backgroundColor: "rgba(253, 146, 3, 0.2)",
        borderColor: "rgba(253, 146, 3, 1)",
      },
      grateful: { backgroundColor: "rgba(146, 208, 80, 0.2)", borderColor: "rgba(146, 208, 80, 1)" },
      happy: { backgroundColor: "rgba(255, 255, 0, 0.2)", borderColor: "rgba(255, 255, 0, 1)" },
      other: { backgroundColor: "rgba(0, 176, 240, 0.2)", borderColor: "rgba(0, 176, 240, 1)" },
    };
    const opt_passionate = JSON.parse(`<%= opt_passionate  %>`);
    const opt_proud = JSON.parse(`<%= opt_proud  %>`);
    const opt_hopeful = JSON.parse(`<%= opt_hopeful  %>`);
    const opt_grateful = JSON.parse(`<%= opt_grateful  %>`);
    const opt_happy = JSON.parse(`<%= opt_happy  %>`);
    const opt_gData = {
      passionate: opt_passionate,
      proud: opt_proud,
      hopeful: opt_hopeful,
      grateful: opt_grateful,
      happy: opt_happy,
    };
    // setup
    const opt_data = {
      labels: [
        "Company Mission",
        "Senior Leadership",
        "Life Balance",
        "Management Support",
        "Personal Connection",
        "Purpose",
        "Value Alignment",
        "Wellbeing",
        "Work Environment",
        "Influences",
      ],
      datasets: Object.entries(opt_gData).map(([key, value]) => ({
        label: key,
        data: value,
        ..._colorConfig[key],
        borderWidth: 1,
      })),
    };

    // config
    const opt_config = {
      type: "bar",
      data: opt_data,
      options: {
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    };

    // render init block
    const mOptimalChart = new Chart(
      document.getElementById("mOptimalChart"),
      opt_config
    );
  </script>
</div>
